body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(251, 86, 48);
    width: 100%;
    height: 70px;
}
header #logo{
    width: 50px;
    height: 50px;
}
header #logo-name{
    color: rgb(255,255,255);
    display: inline;
    font-size: 38px;
    margin: 0px;
}

nav #menu {
    background-color: rgb(215, 215, 215);
    height: 50px;
    width: 100%;
}
nav #menu ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #menu ul li a{
    text-decoration: none;
    color:rgb(251, 86, 48);
    display: inline;
    padding-inline: 20px;
}

#conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}
#conteudo #imagens{
    display: flex;
    flex-direction: column;
}
#conteudo #imagens img{
    width: 80px;
    height: 80px;
}

#conteudo #imagem img{
    width: 400px;
    height: 400px;
}

#conteudo #informacoes .botoes button{
    border: 0.01px dotted gray;
    background-color: rgb(255,255,255);
    padding: 10px;
    margin: 10px;
}

#conteudo #informacoes .botoes p{
 margin: 0px;
}

#conteudo #informacoes form #comprar{
    background-color: rgb(251, 86, 48);
    border: none;
    color: rgb(255,255,255);
    padding: 20px;
    margin: 10px;
}

#conteudo #informacoes h1{
    font-size: 25px;
    margin: 0px;
}

#conteudo #informacoes h2{
    color: rgb(251, 86, 48);
    margin-top: 10px;
    margin-bottom: 0px;
}
#conteudo #informacoes #pecas{
    margin-top: 7px;
    margin-bottom: 7px;
}
#conteudo #informacoes #tamanho-selecionado{
    margin-top: 7px;
    margin-bottom: 7px;
}
